.ui.container.outerContainer {
  padding-left: 5px;
}
.disable_scroll::-webkit-scrollbar {
  display: none;
}

.ui.card.card_ct {
  margin: 0px;
  margin-right: 1.5rem;
  margin-bottom: 2.3rem;
  width: 14rem;
  height: 7.8rem;
  border: 2px solid #eeeeee !important;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.25) !important;
}

.ui.grid.grid_ct {
  margin: 0;
  margin-top: 2.3rem;
}

.ui.column.column_ct {
  padding: 0 !important;
}

.ui.card > .content > .header.header_ct {
  font-size: calc(14px + 0.45rem) !important;
  font-weight: bold !important;
  color: #000000;
}

.meta.meta_ct {
  font-size: 1rem !important;
}

.ui.card > .content > .description.description_ct {
  font-size: 1em;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
}

.diagnosis {
  font-weight: bold;
  font-size: 1em;
}
