.disableScroll::-webkit-scrollbar {
  display: none;
}

.ui.card.patientCard {
  margin: 0 1.5rem 2.3rem 0;
  width: 14rem;
  height: 9rem;
  border: 2px solid #eeeeee;
  box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.ui.grid.patientCardGrid {
  margin: 2rem 0 0 0;
}

.ui.column.column_ct {
  padding: 0 !important;
}

.ui.card.patientCard > .content > .header.patientCardHeader {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}


.ui.card > .content > .description.description_ct {
  font-size: 1em;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
}

.ui.card.patientCard > .content > .description.patientCardDescription {
  /*TODO: Will need to test with IE 11 as inline-flex may not be supported*/
  display: inline-flex;
  position: absolute;
  bottom: 15px;
}

div.description.patientCardDescription > .ui.circular.empty.label.patientCategoryLabel {
  margin: 3px 8px 0 0;
}

div.description.patientCardDescription > .ui.circular.empty.label.patientCategoryLabel.categoryOne {
  background-color: #2a9d8f;
}

div.description.patientCardDescription > .ui.circular.empty.label.patientCategoryLabel.categoryTwo {
  background-color: #e9c46a;
}

div.description.patientCardDescription > .ui.circular.empty.label.patientCategoryLabel.categoryThree {
  background-color: #e76f51;
}