.ui.container.reportSubContainer.reportCategoryContainer > .ui.equal.width.grid >
.row.categoryCardRow > .column > .ui.card.categoryCard#categoryOne {
  background-color: #2a9d8f;
}

.ui.container.reportSubContainer.reportCategoryContainer > .ui.equal.width.grid >
.row.categoryCardRow > .column > .ui.card.categoryCard#categoryTwo {
  background-color: #e9c46a;
}

.ui.container.reportSubContainer.reportCategoryContainer > .ui.equal.width.grid >
.row.categoryCardRow > .column > .ui.card.categoryCard#categoryThree {
  background-color: #e76f51;
}

.row.categoryCardRow > div.column > a.ui.card.categoryCard {
  height: 7rem;
  text-align: center;
  border-radius: 20px;
}

.row.categoryCardRow > div.column > a.ui.card.categoryCard > div.content > div.header {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2em;
}

.ui.container.reportSubContainer.reportPatientListContainer > div.input.searchInput {
  width: 30rem;
}

div.ui.container.reportSubContainer {
  margin-bottom: 1.5rem;
}