.ui.container.container_ct {
  display: flex;
  flex-direction: column;
  margin-left: 5px !important;
}

.patient {
  font-size: 28px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 10px;
}

.ui.input.search {
  max-width: 35em;
  height: 49px;
  margin-top: 10px;
  text-align: left;
}

.type {
  font-size: 32px;
  color: #000000;
}

.category {
  font-size: 28px;
  color: #000000;
  font-weight: 300;
  margin: 0px;
}
