.ui.label.label_rc {
  width: 14.325rem;
  height: 7.125rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 1.25rem;
  margin-left: 0px;
  padding-top: 2rem;
}

.ui.container.reportHeaderContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5px !important;
}

div.reportContainer > div.ui.container.reportHeaderContainer > div.ui.grid {
  margin-bottom: 1rem;
}

div.reportContainer > div.ui.container.reportHeaderContainer > div.ui.grid > div.row > div.column {
  width: 17rem;
}

.patient {
  font-size: calc(14px + 1.25rem);
  font-weight: 300;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
}

.ui.input.search {
  width: 35em;
  height: 3.5rem;
  margin-top: 10px;
  text-align: left;
}

.type {
  font-size: calc(14px + 1.5rem);
  color: #000000;
}
@media only screen and (min-width: 2000px) {
  .type {
    font-size: calc(14px + 2.5rem);
  }
}
.category {
  font-size: calc(14px + 1.25rem);
  color: #000000;
  font-weight: 300;
  margin: 0px;
}

.ui.card.card_category {
  height: 7rem;
  text-align: center;
  border-radius: 20px;
}

.ui.card.card_category > div.content > .header {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2em;
}

h2.category_header {
  font-size: calc(14px + 1.25rem);
  font-weight: 300;
}
