.ui.modal > .header.header_ct {
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: 0.5em;
}
.ui.container.headerContainer {
  display: flex;
}
@media only screen and (min-width: 1920px) {
  .ui.modal {
    width: 1050px;
    margin: 0;
  }
}
.name {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1rem;
}
.details {
  width: 100px;
  font-size: 1rem;
  color: #696969;
  margin: 0px;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.patient_detail {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  color: #383838;
}
.ui.label.date {
  width: 7rem;
  margin-top: auto;
  margin-bottom: auto;
  height: 2.3rem;
  border-radius: 0.5rem;
  background-color: #aaba32;
  text-align: center;
  color: #fefefe;
  font-size: 1rem;
  font-weight: 500;
}
.admDis {
  font-size: 0.9rem;
  color: #696969;
  margin: 0.2rem;
  margin-left: 0.3rem;
}
.dataContainer {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  margin-right: -0.4em;
  margin-bottom: -1.1rem;
}
.container.dataBox {
  width: 10px;
}
.ui.label.separator {
  background-color: #ffffff;
  padding-top: 2rem;
}
.endToEnd {
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}
.patientInfo {
  width: 20%;
}
.contentContainer {
  height: 400px;
  padding-left: 35px;
  padding-right: 35px;
}
.contentContainer.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}
.ui.header.descriptionHeader {
  font-size: 2rem;
  font-weight: 300 !important;
  margin: 0px;
}
.description.description_ct {
  display: flex;
  flex-direction: column;
}
.ui.container.stat {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.statValue {
  font-size: 5rem;
  margin-bottom: 0px;
  font-weight: 300;
  color: #0077b5;
}
.ui.container.statContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2.3rem;
}
.ui.image {
  margin-top: 3rem !important;
  display: inherit !important;
}

.ui.button.btn_pu {
  width: 7.5em;
}
